[Unit]
Description=Nginx Log Exporter (placeholder)
After=network-online.target nginx.service
Wants=network-online.target

[Service]
Environment=PORT={{ nginxlog_exporter_port }}
ExecStart=/usr/local/bin/nginxlog_exporter.py
Restart=always

[Install]
WantedBy=multi-user.target
